* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #474747;
  font: 16px "KNPSKkomi-Regular00";
}

ol,
ul,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}

img {
  display: block;
}

h1 {
  font-family: "ONE-Mobile-POP";
  font-size: 60px;
  color: white;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

span {
  display: block;
}

header,
nav,
main,
aside,
article,
section,
footer {
  display: block;
}

@font-face {
  font-family: "KNPSKkomi-Regular00";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes waves {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes waves {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@-webkit-keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-20000%);
    opacity: 0;
  }
}
@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-20000%);
    opacity: 0;
  }
}
@-webkit-keyframes bubbles {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes bubbles {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes bubbleani {
  0% {
    bottom: -10%;
    opacity: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes bubbleani {
  0% {
    bottom: -10%;
    opacity: 0;
  }
  100% {
    bottom: 100%;
  }
}
@-webkit-keyframes fill90 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 10%;
    transform: translate(-50%) rotate(360deg);
  }
}
@keyframes fill90 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 10%;
    transform: translate(-50%) rotate(360deg);
  }
}
@-webkit-keyframes fill80 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 20%;
    transform: translate(-50%) rotate(360deg);
  }
}
@keyframes fill80 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 20%;
    transform: translate(-50%) rotate(360deg);
  }
}
@-webkit-keyframes fill70 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 30%;
    transform: translate(-50%) rotate(360deg);
  }
}
@keyframes fill70 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 30%;
    transform: translate(-50%) rotate(360deg);
  }
}
@-webkit-keyframes fill60 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 40%;
    transform: translate(-50%) rotate(360deg);
  }
}
@keyframes fill60 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 40%;
    transform: translate(-50%) rotate(360deg);
  }
}
@-webkit-keyframes fill50 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 50%;
    transform: translate(-50%) rotate(360deg);
  }
}
@keyframes fill50 {
  from {
    top: 100%;
    transform: translate(-50%) rotate(0deg);
  }
  to {
    top: 50%;
    transform: translate(-50%) rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, -25px, 0);
  }
}
@keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, -25px, 0);
  }
}
@-webkit-keyframes swim {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes swim {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translate(-50, -50%);
  }
  100% {
    transform: translate(-50, -1000%);
  }
}
@keyframes animate {
  0% {
    transform: translate(-50, -50%);
  }
  100% {
    transform: translate(-50, -1000%);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translate(0);
  }
}
.grid {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  header {
    margin: 0;
    cursor: none;
  }
}
header div#ocean {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #5190d5;
}
header div#ocean::after, header div#ocean::before {
  content: "";
  position: absolute;
  bottom: -80px;
  left: -10%;
  width: 120%;
  height: 120px;
  border-radius: 100%;
  opacity: 0.2;
  background-color: white;
  -webkit-animation: waves 10s ease infinite;
          animation: waves 10s ease infinite;
}
header div#ocean::before {
  bottom: -60px;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  opacity: 0.1;
  left: -5%;
}
header div#ocean .bubbles {
  width: 100%;
  height: 100vh;
  -webkit-animation: bubbles 10s linear infinite;
          animation: bubbles 10s linear infinite;
}
header div#ocean .bubbles span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -10%;
  -webkit-animation: bubbleani 10s ease-in-out infinite;
          animation: bubbleani 10s ease-in-out infinite;
}
header div#ocean .bubbles span:nth-child(1) {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  left: 10%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  opacity: 0.2;
}
header div#ocean .bubbles span:nth-child(2) {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  left: 40%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  opacity: 0.1;
}
header div#ocean .bubbles span:nth-child(3) {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  left: 30%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  opacity: 0.3;
}
header div#ocean .bubbles span:nth-child(4) {
  width: 35px;
  height: 35px;
  opacity: 0.5;
  left: 40%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  opacity: 0.2;
}
header div#ocean .bubbles span:nth-child(5) {
  width: 45px;
  height: 45px;
  opacity: 0.5;
  left: 60%;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  opacity: 0.1;
}
header div#ocean .bubbles span:nth-child(6) {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  left: 80%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  opacity: 0.4;
}
header div#ocean .bubbles span:nth-child(7) {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  left: 90%;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  opacity: 0.3;
}
header div#ocean .bubbles span:nth-child(8) {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  left: 50%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  opacity: 0.2;
}
header div#ocean .bear {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 440px;
  height: 470px;
  margin-left: -220px;
  border-radius: 220px 220px 0 0;
  background: white;
}
header div#ocean .bear .ears-container {
  position: absolute;
  width: 530px;
  height: 120px;
  left: 50%;
  top: 40px;
  margin-left: -265px;
}
header div#ocean .bear .ears-container .ear {
  float: left;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
}
header div#ocean .bear .ears-container .ear:last-child {
  float: right;
}
header div#ocean .bear #limit {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 240px;
  height: 270px;
  margin-left: -120px;
}
header div#ocean .bear #limit #face {
  position: absolute;
  left: 50%;
  top: 6%;
  width: 140px;
  height: 230px;
  margin-left: -70px;
}
header div#ocean .bear #limit #face .eyes-container {
  position: relative;
  left: 50%;
  width: 82px;
  height: 20px;
  margin-left: -41px;
}
header div#ocean .bear #limit #face .eyes-container .eye {
  float: left;
  width: 20px;
  height: 100%;
  border-radius: 50%;
  background: #000;
}
header div#ocean .bear #limit #face .eyes-container .eye:last-child {
  float: right;
}
header div#ocean .bear #limit #face .phiz-container {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border-radius: 100px;
  background: rgb(222, 249, 254);
}
header div#ocean .bear #limit #face .phiz-container #nose {
  position: relative;
  left: 50%;
  top: 6%;
  width: 88px;
  height: 88px;
  margin-left: -44px;
  border-radius: 50%;
  background: #000;
}
header div#ocean .bear #limit #face .phiz-container #nose .dot {
  position: relative;
  left: 16%;
  top: 16%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
header div#ocean .bear #limit #face .phiz-container .mouth {
  position: absolute;
  left: 50%;
  bottom: 18%;
  width: 24px;
  height: 8px;
  margin-left: -12px;
  border-radius: 8px;
  background: #000;
}
header div#ocean #fish {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 74px;
  margin-left: -10px;
  margin-top: -37px;
}
header div#ocean #fish .head {
  width: 100%;
  height: 60px;
  border-radius: 50%;
  background: #adadad;
}
header div#ocean #fish .head .fish-eye {
  position: relative;
  left: 10px;
  top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
header div#ocean #fish .fins {
  position: absolute;
  left: -7px;
  top: 24px;
  width: 22px;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 16px solid #adadad;
}
header div#ocean #fish .tail {
  position: relative;
  left: -6px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #adadad;
}
header div.header-flex-box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 1024px) {
  header div.header-flex-box {
    padding: 0 30px;
  }
}
header div.header-flex-box div.logo {
  display: none;
  width: 65%;
  padding-top: 3px;
}
@media screen and (min-width: 1024px) {
  header div.header-flex-box div.logo {
    display: block;
  }
}
header div.header-flex-box div.logo img {
  width: auto;
}
header div.header-flex-box div.git {
  padding-top: 8px;
}
header div.header-flex-box div#slide-open,
header div.header-flex-box div#slide-open span {
  display: inline-block;
  transition: all 0.4s;
  z-index: 1;
}
header div.header-flex-box div#slide-open {
  position: relative;
  width: 25px;
  height: 23px;
  margin-top: 12px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  header div.header-flex-box div#slide-open {
    display: none;
  }
}
header div.header-flex-box div#slide-open span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 4px;
}
header div.header-flex-box div#slide-open span:nth-of-type(1) {
  top: 0;
}
header div.header-flex-box div#slide-open span:nth-of-type(2) {
  top: 10px;
}
header div.header-flex-box div#slide-open span:nth-of-type(3) {
  bottom: 0;
}
header div.header-flex-box div#slide {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
header div.header-flex-box div#slide ul li {
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #666666;
}
header div.header-flex-box div#slide ul li a {
  color: #333333;
  padding-right: 10px;
  text-align: right;
  font-size: 20px;
}
header div.header-flex-box nav {
  display: none;
  width: 30%;
}
@media screen and (min-width: 1024px) {
  header div.header-flex-box nav {
    display: block;
  }
}
header div.header-flex-box nav ul#gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header div.header-flex-box nav ul#gnb li a {
  font-size: 18px;
  color: white;
}
header div#title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  header div#title {
    top: 20%;
  }
}
@media screen and (min-width: 768px) {
  header div#title h1 {
    font-size: 80px;
  }
}
header div#title .individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: white;
  z-index: 1;
}

main#bubble {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
main#bubble span {
  position: absolute;
  bottom: -50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px #5fe1ff;
  -webkit-animation: bubble 60s linear infinite;
          animation: bubble 60s linear infinite;
}
main#bubble span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(white, transparent);
  border-radius: 50%;
}
main#bubble section {
  padding-top: 50px;
}
main#bubble section h2 {
  padding-left: 15px;
  margin-bottom: 50px;
  border-bottom: 1px solid #606060;
  background: url(../images/title_back.png) no-repeat 0 10px;
}
main#bubble section h3 {
  margin-bottom: 20px;
  font-weight: 500;
}
main#bubble section p {
  margin-bottom: 20px;
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  main#bubble section#about-me {
    height: 100vh;
  }
}
main#bubble section#about-me div.me-flex-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main#bubble section#about-me div.me-flex-box div.me-des {
  width: 60%;
}
@media screen and (min-width: 1024px) {
  main#bubble section#about-me div.me-flex-box div.me-des {
    width: 50%;
  }
}
main#bubble section#about-me div.me-flex-box div.face {
  width: 40%;
}
@media screen and (min-width: 1024px) {
  main#bubble section#about-me div.me-flex-box div.face {
    display: none;
  }
}
main#bubble section#about-me div.me-flex-box div.face-pc {
  display: none;
  width: 30%;
}
@media screen and (min-width: 1024px) {
  main#bubble section#about-me div.me-flex-box div.face-pc {
    display: block;
  }
}
main#bubble section#about-me div.me-flex-box div.face-pc img {
  width: 100%;
}
main#bubble section#skill {
  position: relative;
}
@media screen and (min-width: 1024px) {
  main#bubble section#skill {
    height: 100vh;
  }
}
main#bubble section#skill div.skills {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}
main#bubble section#skill div.skills div.outer-circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c1c1c1;
}
main#bubble section#skill div.skills div.outer-circle::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(#628dff, #00c4ff);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
main#bubble section#skill div.skills div.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 15px;
  background-color: white;
}
main#bubble section#skill div.skills img.icon {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
main#bubble section#skill div#html .outer-circle::before,
main#bubble section#skill div#css .outer-circle::before,
main#bubble section#skill div#sass .outer-circle::before {
  -webkit-animation: fill90 10s ease-in-out infinite;
          animation: fill90 10s ease-in-out infinite;
}
main#bubble section#skill div#ps .outer-circle::before,
main#bubble section#skill div#ai .outer-circle::before,
main#bubble section#skill div#pr .outer-circle::before {
  -webkit-animation: fill80 10s ease-in-out infinite;
          animation: fill80 10s ease-in-out infinite;
}
main#bubble section#skill div#js .outer-circle::before,
main#bubble section#skill div#jquery .outer-circle::before {
  -webkit-animation: fill70 10s ease-in-out infinite;
          animation: fill70 10s ease-in-out infinite;
}
main#bubble section#skill div#ae .outer-circle::before {
  -webkit-animation: fill60 10s ease-in-out infinite;
          animation: fill60 10s ease-in-out infinite;
}
main#bubble section#skill div#react .outer-circle::before {
  -webkit-animation: fill50 10s ease-in-out infinite;
          animation: fill50 10s ease-in-out infinite;
}
main#bubble section#skill p.count {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-bottom: 0;
  transform: translateX(-50%);
  font-family: "CookieRun-Regular";
  font-size: 24px;
  color: #886cff;
}
main#bubble section#skill p.hidden-title,
main#bubble section#skill p.hidden-text {
  display: none;
}
main#bubble section#skill div.skill-flex-box {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main#bubble section#skill div.skill-flex-box {
    flex-direction: row;
  }
}
main#bubble section#skill div.skill-flex-box div.web,
main#bubble section#skill div.skill-flex-box div.adobe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main#bubble section#skill div.skill-flex-box div.web,
main#bubble section#skill div.skill-flex-box div.adobe {
    width: 50%;
  }
}
main#bubble section#skill div.skill-flex-box div.web div.skills,
main#bubble section#skill div.skill-flex-box div.adobe div.skills {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  main#bubble section#skill div.skill-flex-box div.adobe div.skills:nth-child(3), main#bubble section#skill div.skill-flex-box div.adobe div.skills:last-child {
    margin-top: -225px;
  }
}
main#bubble section#skill .popup-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  border: 3px solid #666666;
  background: white;
}
@media screen and (min-width: 1024px) {
  main#bubble section#skill .popup-overlay {
    width: 500px;
    height: 400px;
  }
}
main#bubble section#skill .popup-overlay.active {
  visibility: visible;
  text-align: center;
}
main#bubble section#skill .popup-content {
  visibility: hidden;
}
main#bubble section#skill .popup-content h2 {
  font-size: 36px;
  background: none;
}
main#bubble section#skill .popup-content p {
  font-size: 30px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  main#bubble section#skill .popup-content p {
    margin-bottom: 80px;
  }
}
main#bubble section#skill .popup-content button {
  padding: 10px;
  font-size: 18px;
}
main#bubble section#skill .popup-content.active {
  visibility: visible;
}
@media screen and (min-width: 1024px) {
  main#bubble section#portfolio {
    height: 100vh;
  }
}
main#bubble section#portfolio a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  background-color: #62adff;
}
main#bubble section#portfolio a:hover {
  font-weight: 600;
  color: #62adff;
  background-color: #f2f2f2;
}
@media screen and (min-width: 1024px) {
  main#bubble section#portfolio div.portfolio-flex {
    display: flex;
    overflow-x: hidden;
  }
}
main#bubble section#portfolio div.portfolio-flex div.portfolio {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main#bubble section#portfolio div.portfolio-flex div.portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    overflow: hidden;
    margin-bottom: 0;
  }
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img {
  width: 200px;
  overflow: hidden;
  margin: 0 auto;
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide-m {
  display: flex;
  position: relative;
  width: 1000px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide-m {
    display: none;
    margin: 0;
  }
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide-m li {
  width: 200px;
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide-m li img {
  width: 100%;
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide {
  display: none;
}
@media screen and (min-width: 1024px) {
  main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide {
    display: flex;
    position: relative;
    width: 800px;
  }
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide li {
  width: 200px;
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-img ul#portfolio-slide li img {
  width: 100%;
}
main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-des {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main#bubble section#portfolio div.portfolio-flex div.portfolio div.portfolio-des {
    width: 40%;
  }
}
main#bubble section#portfolio div.portfolio-flex div#clone div.portfolio-img {
  width: 600px;
}
main#bubble section#portfolio div.portfolio-flex div#clone div.portfolio-img img {
  width: 100%;
}
main#bubble section#video {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main#bubble section#video {
    height: 100vh;
  }
}
main#bubble section#video video {
  width: 100%;
  margin: 0 auto 35px;
  background-color: #f6ffeb;
}

footer {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}
footer div#footer-ocean {
  position: absolute;
  width: 100%;
  height: 20vh;
  left: 0;
  bottom: 0;
  background: #5190d5;
}
@media screen and (min-width: 1024px) {
  footer div#footer-ocean {
    height: 50vh;
  }
}
footer div#footer-ocean div.wave {
  background: url(../images/footer_wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
footer div#footer-ocean div.wave:nth-of-type(2) {
  top: -190px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 0.5;
}
footer div#footer-ocean svg#fish {
  top: 5em;
}
footer div#footer-ocean svg.fish {
  overflow: visible;
}
footer div#footer-ocean .fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  -webkit-animation: swim 20s linear infinite;
          animation: swim 20s linear infinite;
}
footer div#footer-ocean svg #fish1,
footer div#footer-ocean svg #fish2,
footer div#footer-ocean svg #fish3,
footer div#footer-ocean svg #fish4,
footer div#footer-ocean svg #fish5,
footer div#footer-ocean svg #fish6 {
  fill: #ffde4a;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
footer div#footer-ocean svg #fish2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
footer div#footer-ocean svg #fish3 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
footer div#footer-ocean svg #fish4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
footer div#footer-ocean svg #fish5 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
footer div#footer-ocean svg #fish6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
footer div.footer-logo {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  footer div.footer-logo {
    display: none;
  }
}
footer div.footer-logo-pc {
  display: none;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  footer div.footer-logo-pc {
    display: block;
  }
}
footer div.footer-whale {
  display: none;
}
@media screen and (min-width: 1024px) {
  footer div.footer-whale {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: swim 25s linear infinite;
            animation: swim 25s linear infinite;
  }
}
footer div.phone-mail {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  bottom: 35px;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  footer div.phone-mail {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  footer div.phone-mail div {
    width: 50%;
  }
}
footer div.phone-mail div p {
  color: white;
}
@media screen and (min-width: 1024px) {
  footer div.phone-mail div p {
    font-size: 24px;
  }
}
footer div.phone-mail div p span {
  display: inline-block;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  footer div.phone-mail div p span {
    font-size: 20px;
  }
}
footer div#top {
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  footer div#top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    width: 50px;
    height: 50px;
  }
}
footer div#top div.top-bg {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00c4ff;
}
footer div#top div.top-bg span {
  position: absolute;
  top: 25px;
  left: 22px;
  width: 20px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}
footer div#top div.top-bg span:first-child {
  top: 15px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
footer div#top div.top-bg span:nth-child(2) {
  top: 15px;
  left: 35px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
footer div#top div.top-bg span:nth-child(3) {
  transform: rotate(-45deg);
  margin-left: -12px;
}
footer div#top div.top-bg span:last-child {
  transform: rotate(45deg);
}/*# sourceMappingURL=index.css.map */