@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes waves {
    0%{transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    100% {transform: rotate(-2deg);}
}
@keyframes bubble {
    0% {transform: translateY(0%); opacity: 1;}
    100% {transform: translateY(-20000%); opacity: 0;}
}
@keyframes bubbles {
    0%{transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}
@keyframes bubbleani {
    0% {bottom: -10%; opacity: 0;}
    100% {bottom: 100%;}
}
@keyframes fill90 {
    from {top: 100%; transform: translate(-50%) rotate(0deg);}
    to {top: 10%; transform: translate(-50%) rotate(360deg);}
}
@keyframes fill80 {
    from {top: 100%; transform: translate(-50%) rotate(0deg);}
    to {top: 20%; transform: translate(-50%) rotate(360deg);}
}
@keyframes fill70 {
    from {top: 100%; transform: translate(-50%) rotate(0deg);}
    to {top: 30%; transform: translate(-50%) rotate(360deg);}
}
@keyframes fill60 {
    from {top: 100%; transform: translate(-50%) rotate(0deg);}
    to {top: 40%; transform: translate(-50%) rotate(360deg);}
}
@keyframes fill50 {
    from {top: 100%; transform: translate(-50%) rotate(0deg);}
    to {top: 50%; transform: translate(-50%) rotate(360deg);}
}
@keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
}
@keyframes swell {
    0% {transform: translate3d(0, -25px ,0);}
    50% {transform: translate3d(0, 5px ,0);}
    100% {transform: translate3d(0, -25px ,0);}
}
@keyframes swim {
    0% {margin-left: -235px;}
    70%{margin-left: 100%;}
    100% {margin-left: 100%;}
}
@keyframes animate {
    0% {transform: translate(-50, -50%);}
    100% {transform: translate(-50, -1000%);}
}
@keyframes bounce {
    0%{transform: translate(0);}
    25% {transform: translateY(-5px);}
    50%{transform: translate(0);}
    75% {transform: translateY(-3px);}
    100% {transform: translate(0);}
}

.grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    @include responsive(pc-screens) {
        margin: 0;
        cursor: none;
    }
   
    div#ocean {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #5190d5;
        &::after, 
        &::before {
            content: '';
            position: absolute;
            bottom: -80px;
            left: -10%;
            width: 120%;
            height: 120px;
            border-radius: 100%;
            opacity: 0.2;
            background-color: $white;
            animation: waves 10s ease infinite;
        }

        &::before {
            bottom: -60px;
            animation-delay: 5s;
            opacity: 0.1;
            left: -5%;
        }
          
        .bubbles {
            width: 100%;
            height: 100vh;
            animation: bubbles 10s linear infinite;
            span {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                position: absolute;
                background-color: white;
                bottom: -10%;
                animation: bubbleani 10s ease-in-out infinite;
                &:nth-child(1) {
                    width: 50px;
                    height: 50px;
                    opacity: 0.5;
                    left: 10%;
                    animation-delay: 3s;
                    animation-duration: 10s;
                    opacity: 0.2;
                }
                  
                &:nth-child(2) {
                    width: 30px;
                    height: 30px;
                    opacity: 0.5;
                    left: 40%;
                    animation-delay: 1s;
                    animation-duration: 5s;
                    opacity: 0.1;
                }
                  
                &:nth-child(3) {
                    width: 10px;
                    height: 10px;
                    opacity: 0.5;
                    left: 30%;
                    animation-delay: 5s;
                    animation-duration: 20s;
                    opacity: 0.3;
                }
                  
                &:nth-child(4) {
                    width: 35px;
                    height: 35px;
                    opacity: 0.5;
                    left: 40%;
                    animation-delay: 8s;
                    animation-duration: 8s;
                    opacity: 0.2;
                }
                  
                &:nth-child(5) {
                    width: 45px;
                    height: 45px;
                    opacity: 0.5;
                    left: 60%;
                    animation-delay: 10s;
                    animation-duration: 15s;
                    opacity: 0.1;
                }
                  
                &:nth-child(6) {
                    width: 40px;
                    height: 40px;
                    opacity: 0.5;
                    left: 80%;
                    animation-delay: 3s;
                    animation-duration: 30s;
                    opacity: 0.4;
                }
                  
                &:nth-child(7) {
                    width: 15px;
                    height: 15px;
                    opacity: 0.5;
                    left: 90%;
                    animation-duration: 25s;
                    opacity: 0.3;
                }
                  
                &:nth-child(8) {
                    width: 20px;
                    height: 20px;
                    opacity: 0.5;
                    left: 50%;
                    animation-duration: 10s;
                    opacity: 0.2;
                }
            }
        }

        .bear {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 440px;
            height: 470px;
            margin-left: -220px;
            border-radius: 220px 220px 0 0;
            background: $white;
            .ears-container {
                position: absolute;
                width: 530px;
                height: 120px;
                left: 50%;
                top: 40px;
                margin-left: -265px;
                
                .ear {
                    float: left;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background: $white;
                    
                    &:last-child {
                        float: right;
                    }
                }
            }
                
            #limit {
                position: absolute;
                left: 50%;
                top: 10%;
                width: 240px;
                height: 270px;
                margin-left: -120px;
                
                #face {
                    position: absolute;
                    left: 50%;
                    top: 6%;
                    width: 140px;
                    height: 230px;
                    margin-left: -70px;
                    
                    .eyes-container {
                        position: relative;
                        left: 50%;
                        width: 82px;
                        height: 20px;
                        margin-left: -41px;
                        
                        .eye {
                            float: left;
                            width: 20px;
                            height: 100%;
                            border-radius: 50%;
                            background: $black;
                            
                            &:last-child {
                                float: right;
                            }
                        }
                    }
                    
                    .phiz-container {
                        margin-top: 10px;
                        width: 100%;
                        height: 200px;
                        border-radius: 100px;
                        background: $l-blue;
                        
                        #nose {
                            position: relative;
                            left: 50%;
                            top: 6%;
                            width: 88px;
                            height: 88px;
                            margin-left: -44px;
                            border-radius: 50%;
                            background: $black;
                            
                            .dot {
                                position: relative;
                                left: 16%;
                                top: 16%;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: $white;
                            }
                        }
                        
                        .mouth {
                            position: absolute;
                            left: 50%;
                            bottom: 18%;
                            width: 24px;
                            height: 8px;
                            margin-left: -12px;
                            border-radius: 8px;
                            background: $black;
                        }
                    }
                }
            }
        }
        
        #fish {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 74px;
            margin-left: -10px;
            margin-top: -37px;
            
            .head {
                width: 100%;
                height: 60px;
                border-radius: 50%;
                background: $grey;
                
                .fish-eye {
                    position: relative;
                    left: 10px;
                    top: 8px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $white;
                }
            }
            
            .fins {
                position: absolute;
                left: -7px;
                top: 24px;
                width: 22px;
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 16px solid $grey;
            }
            
            .tail{
                position: relative;
                left: -6px;
                top: -2px;
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 16px solid $grey;
            }
        }
    }  
    div.header-flex-box {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        padding: 0 15px;
        line-height: 50px;
        background-color: rgba($color: $white, $alpha: 0.2);
        @include responsive(pc-screens) {
            padding: 0 30px;
        }

        div.logo {
            display: none;
            width: 65%;
            padding-top: 3px;
            @include responsive(pc-screens) {
                display: block;
            }

            img {
                width: auto;
            }
        }
        
        div.git {
            padding-top: 8px;
        }

        div#slide-open,
        div#slide-open span {
            display: inline-block;
            transition: all 0.4s;
            z-index: 1;
        }

        div#slide-open {
            position: relative;
            width: 25px;
            height: 23px;
            margin-top: 12px;
            cursor: pointer;
            @include responsive(pc-screens) {
                display: none;
            }
        }

        div#slide-open span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $white;
            border-radius: 4px;
        }

        div#slide-open span:nth-of-type(1) {
            top: 0;
        }

        div#slide-open span:nth-of-type(2) {
            top: 10px;
        }

        div#slide-open span:nth-of-type(3) {
            bottom: 0;
        }

        div#slide {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background-color: rgba($color: $white, $alpha: 0.5);
            z-index: 1;
            ul {
                li {
                    display: inline-block;
                    width: 100%;
                    padding: 5px;
                    border-bottom: 1px solid #666666;
                    a {
                        color: #333333;
                        padding-right: 10px;
                        text-align: right;
                        font-size: 20px;
                    }
                }
            }
        }
        
        nav {
            display: none;
            width: 30%;
            @include responsive(pc-screens) {
                display: block;
            }
            ul#gnb {
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                    a {
                        font-size: 18px;
                        color: $white;
                    }
                }
            }
        }
    }
    
    div#title{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        @include responsive(tablet-screens) {
            top: 20%;
        }
        h1 {
            @include responsive(tablet-screens) {
                font-size: 80px;
            }
        }

        .individual-bubble {
            position: absolute;
            border-radius: 100%;
            bottom: 10px;
            background-color: $white;
            z-index: 1;
        }
    }
} // header

main#bubble {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
        
    span {
        position: absolute;
        bottom: -50px;
        background: transparent;
        border-radius: 50%;

        pointer-events: none;
        box-shadow: inset 0 0 10px #5fe1ff;

        animation: bubble 60s linear infinite;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scale(0.25) translate(-70%, -70%);
            background: radial-gradient($white, transparent);
            border-radius: 50%;
        }
    }
    
    section {
        padding-top: 50px;
        h2 {
            padding-left: 15px;
            margin-bottom: 50px;
            border-bottom: 1px solid $color-border;
            background: url(../images/title_back.png) no-repeat 0 10px;
        }
        
        h3 {
            margin-bottom: 20px;
            font-weight: 500;
        }
        
        p {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }

    section#about-me {
        @include responsive(pc-screens) {
            height: 100vh;
        }
        div.me-flex-box {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div.me-des {
                width: 60%;
                @include responsive(pc-screens) {
                    width: 50%;
                }
            }

            div.face {
                width: 40%;
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            div.face-pc {
                display: none;
                width: 30%;
                @include responsive(pc-screens) {
                   display: block;
                }

                img {
                    width: 100%;
                }
            } 
        }
    }

    section#skill {
        position: relative;
        @include responsive(pc-screens) {
            height: 100vh;
        }

        div.skills {
            position: relative;
            width: 200px;
            height: 200px;
            margin-bottom: 40px;
            div.outer-circle {
                position: relative;
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
                background-color: #c1c1c1;
                &::before {
                    content: '';
                    position: absolute;
                    width: 300px;
                    height: 300px;
                    background: linear-gradient(#628dff, #00c4ff);
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 20%;
                    animation-delay: 0s;
                }
            }

            div.inner-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 150px;
                height: 150px;
                border-radius: 50%;
                box-shadow: 0 0 15px;
                background-color: $white;
            }

            img.icon {
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        div#html .outer-circle::before,
        div#css .outer-circle::before,
        div#sass .outer-circle::before {
            animation: fill90 10s ease-in-out infinite;
        }

        div#ps .outer-circle::before,
        div#ai .outer-circle::before,
        div#pr .outer-circle::before {
            animation: fill80 10s ease-in-out infinite;
        }

        div#js .outer-circle::before,
        div#jquery .outer-circle::before {
            animation: fill70 10s ease-in-out infinite;
        }

        div#ae .outer-circle::before {
            animation: fill60 10s ease-in-out infinite;
        }

        div#react .outer-circle::before {
            animation: fill50 10s ease-in-out infinite;
        }

        p.count {
            position: absolute;
            left: 50%;
            bottom: 50px;
            margin-bottom: 0;
            transform: translateX(-50%);
            font: {
                family: 'CookieRun-Regular';
                size: 24px;
            }
            color: #886cff;
        }

        p.hidden-title,
        p.hidden-text {
            display: none;
        }

        div.skill-flex-box {
            display: flex;
            justify-content: space-around;
            flex-direction: column-reverse;
            width: 100%;
            @include responsive(pc-screens) {
                flex-direction: row;
            }

            div.web,
            div.adobe {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
                @include responsive(pc-screens) {
                    width: 50%;
                }
                div.skills {
                    cursor: pointer;
                }
            }

            div.adobe {
                div.skills {
                    &:nth-child(3),
                    &:last-child {
                        @include responsive(pc-screens) {
                            margin-top: -225px;
                        }
                    }
                }
            }
        }

        .popup-overlay {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 400px;
            transform: translate(-50%, -50%);
            visibility: hidden;
            border: 3px solid #666666;
            background: $white;
            @include responsive(pc-screens) {
                width: 500px;
                height: 400px;
            }
        }
          
        .popup-overlay.active {
            visibility: visible;
            text-align: center;
        }
          
        .popup-content {
            visibility: hidden;

            h2 {
                font-size: 36px;
                background: none;
            }

            p {
                font-size: 30px;
                margin-bottom: 50px;
                @include responsive(pc-screens) {
                    margin-bottom: 80px;
                }
            }

            button {
                padding: 10px;
                font-size: 18px;
            }
        }
          
        .popup-content.active {
            visibility: visible;
        }
    }

    section#portfolio {
        @include responsive(pc-screens) {
            height: 100vh;
        }

        a {
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
            border-radius: 50px;
            color: $white;
            background-color: $a-color;
            &:hover {
                font-weight: 600;
                color: $a-color;
                background-color: #f2f2f2;
            }
        }
        
        div.portfolio-flex {
            @include responsive(pc-screens) {
                display: flex;
                overflow-x: hidden;
            }
            
            div.portfolio {
                width: 100%;
                @include responsive(pc-screens) {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    min-width: 100%;
                    overflow: hidden;
                    margin-bottom: 0;
                }

                div.portfolio-img {
                    width: 200px;
                    overflow: hidden;
                    margin: 0 auto;

                    ul#portfolio-slide-m {
                        display: flex;
                        position: relative;
                        width: 1000px;
                        margin-bottom: 20px;
                        @include responsive(pc-screens) {
                            display: none;
                            margin: 0;
                        }

                        li {
                            width: 200px;
                            img {
                                width: 100%;
                            }
                        }
                    }

                    ul#portfolio-slide {
                        display: none;
                        @include responsive(pc-screens) {
                            display: flex;
                            position: relative;
                            width: 800px;
                        }

                        li {
                            width: 200px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                div.portfolio-des {
                    text-align: center;
                    @include responsive(pc-screens) {
                        width: 40%;
                    }
                }
            }

            div#clone {
                div.portfolio-img {
                    width: 600px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    section#video {
        width: 100%;
        text-align: center;
        @include responsive(pc-screens) {
            height: 100vh;
        }

        video {
            width: 100%;
            margin: 0 auto 35px;
            background-color: #f6ffeb;
        }
    }
}



footer {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: $white;
   
    div#footer-ocean { 
        position: absolute;
        width: 100%;
        height: 20vh;
        left: 0;
        bottom: 0;
        background: #5190d5;
        @include responsive(pc-screens) {
            height: 50vh;
        }

        div.wave {
            background: url(../images/footer_wave.svg) repeat-x; 
            position: absolute;
            top: -198px;
            width: 6400px;
            height: 198px;
            animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
            transform: translate3d(0, 0, 0);
            &:nth-of-type(2) {
                top: -190px;
                animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
                opacity: 0.5;
            }
        }

        svg#fish {
            top: 5em;
        }

        svg.fish {
            overflow:visible;
        }

        .fish {
            width: 235px;
            height: 104px;
            margin-left: -235px;
            position: absolute;	
            animation: swim 20s linear infinite;
        }

        svg #fish1,
        svg #fish2,
        svg #fish3,
        svg #fish4,
        svg #fish5,
        svg #fish6 {
            fill:#ffde4a;
            animation: bounce 2s infinite;
        }

        svg #fish2{
            animation-delay: 0.5s;
        }
        
        svg #fish3{
            animation-delay: 0.2s;
        }
        
        svg #fish4{
            animation-delay: 0.4s;
        }
        
        svg #fish5{
            animation-delay: 0.1s;
        }
        
        svg #fish6{
            animation-delay: 0.3s;
        }
    }
      
    div.footer-logo {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        @include responsive(pc-screens) {
            display: none;
        }
    }
    
    div.footer-logo-pc {
        display: none;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        @include responsive(pc-screens) {
            display: block;
        }
    }

    div.footer-whale {
        display: none;
        @include responsive(pc-screens) {
            display: block;
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            animation: swim 25s linear infinite;
        }
    }

    div.phone-mail {
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 50%;
        bottom: 35px;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
        @include responsive(pc-screens) {
            width: 50%;
        }

        div {
            @include responsive(pc-screens) {
                width: 50%;
            }

            p {
                color: $white;
                @include responsive(pc-screens) {
                    font-size: 24px;
                }

                span {
                    display: inline-block;
                    font-size: 16px;
                    @include responsive(pc-screens) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    div#top {
        opacity: 0;
        @include responsive(pc-screens) {
            position: fixed;
            right: 50px;
            bottom: 50px;
            z-index: 100;
            width: 50px;
            height: 50px;
        }

        div.top-bg {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #00c4ff;

            span {
                position: absolute;
                top: 25px;
                left: 22px;
                width: 20px;
                height: 5px;
                background-color: $white;
                border-radius: 5px;
                &:first-child {
                    top: 15px;
                    left: 10px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                }

                &:nth-child(2) {
                    top: 15px;
                    left: 35px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    margin-left: -12px;
                }
                
                &:last-child {
                    transform: rotate(45deg);
                }
            }
        }
    }
}