$white: white;
$grey: #adadad;
$black: #000;
$l-blue: rgb(222, 249, 254);
$color-border: #606060;
$color-base: #474747;
$a-color: #62adff;


$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;