$white: white;
$yellow: #ffdc3b;
$color-main: #4a5868;
$color-menu: #ff6a00;
$color-menu-hover: #f06400;
$color-button: #2e96db;
$color-highlight: #e51b00;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;